<div class="page">
  <div class="main">
    <div class="login">
      <!-- {{ formularioLogin.value | json }} -->

      <br /><br />
      <h3>Sistema de gestión de cotización</h3>
      <br />
      <h4>Iniciar sesión</h4>
      <!-- [formGroup]="loginForm" (ngSubmit)="login()" -->
      <form [formGroup]="formularioLogin" (ngSubmit)="login()">
        <div class="form-group">
          <label for="usuario" class="textUser">Usuario:</label>
          <input class="form-control" formControlName="usuario" type="text" />
        </div>

        <div class="form-group">
          <label for="usuario" class="textUser">Clave:</label>
          <input class="form-control" formControlName="clave" type="text" />
        </div>
        <br />
        <select class="form-select" formControlName="tipo">
          <option value="" selected>-- Seleccione su rol --</option>
          <option value="administrador">Administrador</option>
          <option value="asesor">Asesor</option>
          <option value="cliente">Cliente</option>
        </select>
        <br />
        <button id="login-submit" class="btn btn-primary">Ingresar</button>
      </form>
    </div>
  </div>
</div>
