<div class="page">
  <div class="btn btn-sm btn-warning" (click)="volverAHome()">Volver</div>
  <h3>Gestión de asesores</h3>

  <div class="agregar-container">
    <h5>Agregar asesor</h5>

    <form [formGroup]="formularioCrear" (ngSubmit)="crearCliente()">
      <div class="form-group">
        <label class="textUser">nombre:</label>
        <input class="form-control" formControlName="nombre" type="text" />
      </div>

      <div class="form-group">
        <label class="textUser">Metros por paquete:</label>
        <input
          class="form-control"
          formControlName="metros_por_paquete"
          type="text"
        />
      </div>

      <div class="form-group">
        <label class="textUser">Precio: $</label>
        <input class="form-control" formControlName="precio" type="text" />
      </div>

      <button id="login-submit" class="btn btn-warning">Agregar</button>
    </form>
  </div>

  <div class="listado-container">
    <h5>Listado de clientes</h5>

    <div class="cliente-item" *ngFor="let producto of productos">
      <span><b>Nombre:</b> {{ producto.nombre }} </span>
      <span><b>Metros por paquete:</b> {{ producto.metros_por_paquete }} </span>
      <span><b>Precio: $</b> {{ producto.precio }} </span>
    </div>
  </div>
</div>
